layout {

    focus-ring {
        active-color   "#eba0ac"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"
    }

    border {
        active-color   "#eba0ac"
        inactive-color "#1e1e2e"
        urgent-color   "#f38ba8"
    }


    tab-indicator {
        active-color   "#eba0ac"
        inactive-color "#b82038"
        urgent-color   "#f38ba8"
    }

    insert-hint {
        color "#eba0ac80"
    }
}

recent-windows {
    highlight {
        active-color "#eba0ac"
        urgent-color "#f38ba8"
    }
}
